@font-face {
    font-family: 'Scotch Genovese';
    src: url('ScotchGenovese-Book.woff2') format('woff2'), url('ScotchGenovese-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('MonumentGrotesk-Medium.woff2') format('woff2'), url('MonumentGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: 'Monument Grotesk';
    letter-spacing: .1rem;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tools {
    margin: 10px;
}

h2 {
    border-radius: 10px;
    /* background-color: white; */
    font-family: 'Monument Grotesk';
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
}

button {
    font-family: 'Monument Grotesk';
    letter-spacing: .1rem;
    border-radius: 10px;
    font-size: 24px;
    background-color: white;
    border-style: none;
    text-align: center;
    padding: 5px 10px;
}

.active,
button:hover,
.dropdownButton:hover {
    background-color: #ff003e;
}

.icon {
    width: 100%;
    height: auto;
}

.trash {
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 45%;
    right: 0;
    position: fixed;
    transition: bottom 0.2s ease-out;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

.selectable {
    background: url(../resources/ui/bg.png) no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    min-height: 100px;
}

.dropdownButton {
    background-color: #ffffff;
    width: 160px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    /* width: 160px; */
    margin: 10px;
    /* pointer-events: none; */
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.lefttop {
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 1000px) {
    .lefttop {
        flex-direction: row;
    }
    .dropdown {
        padding: 0 18px;
        overflow: hidden;
    }
}